@model CSHTGT.ViewModels.CanBoViewModel

@{
    ViewData["Title"] = "Thêm Cán bộ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Thêm Cán bộ</h1>

<h4>Thêm cán bộ vào hệ thống</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddCanBo">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MaDonVi" class="control-label">Đơn Vị</label>
                <select name="MaDonVi" asp-items="@ViewBag.MaDonVi" class="form-control">
                    <option>--Chọn đơn vị công tác--</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="HoTen" class="control-label">Họ Tên</label>
                <input asp-for="HoTen" class="form-control" />
                <span asp-validation-for="HoTen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CMND" class="control-label">CMND</label>
                <input asp-for="CMND" class="form-control" />
                <span asp-validation-for="CMND" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiaChi" class="control-label">Địa chỉ</label>
                <input asp-for="DiaChi" class="form-control" />
                <span asp-validation-for="DiaChi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label">Email</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgaySinh" class="control-label">Ngày sinh</label>
                <input asp-for="NgaySinh" class="form-control" />
                <span asp-validation-for="NgaySinh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SDT" class="control-label">SDT</label>
                <input asp-for="SDT" class="form-control" />
                <span asp-validation-for="SDT" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label">Username</label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label">Password</label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Danh sách cán bộ</a>
</div>

