@model IEnumerable<CSHTGT.ViewModels.LoaiPhuongTienViewModel>

@{
    ViewData["Title"] = "Danh sách các loại phương tiện";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <h1 class="mt-4">Danh sách các loại phương tiện tham gia lưu thông</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/Home">Trang chủ</a></li>
        <li class="breadcrumb-item active">Danh sách các loại phương tiện</li>
    </ol>
    <div class="table-responsive">      
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            Tên loại
                        </th>
                        <th>
                            Mô tả
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.TenLoai)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.MoTa)
                            </td>

                        </tr>
                    }

                </tbody>
            </table>
    </div>
</div>