@model CSHTGT.ViewModels.PhieuDangKyThuTucViewModel


@{
    ViewData["Title"] = "Đăng kí lịch hẹn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <h1 class="mt-4">Đăng kí lịch hẹn</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/Home">Trang chủ</a></li>

        <li class="breadcrumb-item ">Đăng kí lịch hẹn</li>
    </ol>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="AddPhieuDangKyThuTuc">
                <div class="form-group">
                    <a class="btn btn-primary" asp-action="Index" asp-controller="PhieuDangKyThuTuc">Trở về danh sách đăng kí</a>
                </div>
                <h5>Nhập thông tin phương tiện</h5>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div>
                    <label asp-for="MaNgTGGiaoThong" class="control-label">Mã Người Tham Gia Giao Thông</label>
                    <input asp-for="MaNgTGGiaoThong" class="form-control" placeholder="1"/>
                    <span asp-validation-for="MaNgTGGiaoThong" class="text-danger"></span>
                </div>
                <div>
                    <label asp-for="TenPT" class="control-label">Tên phương tiện(*)</label>
                    <input asp-for="TenPT" class="form-control" />
                    <span asp-validation-for="TenPT" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="BienSo" class="control-label">Biển số(*)</label>
                    <input asp-for="BienSo" class="form-control" />
                    <span asp-validation-for="BienSo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NhanHieu" class="control-label">Nhãn hiệu(*)</label>
                    <input asp-for="NhanHieu" class="form-control" />
                    <span asp-validation-for="NhanHieu" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SoChoNgoi" class="control-label">Số chỗ ngồi</label>
                    <input asp-for="SoChoNgoi" class="form-control" />
                    <span asp-validation-for="SoChoNgoi" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SoKhung" class="control-label">Số khung</label>
                    <input asp-for="SoKhung" class="form-control" />
                    <span asp-validation-for="SoKhung" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SoMay" class="control-label">Số máy</label>
                    <input asp-for="SoMay" class="form-control" />
                    <span asp-validation-for="SoMay" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LoaiDangKy" class="control-label">Loại Đăng Ký</label>
                    <select name="LoaiDangKy" class="form-control">
                        <option>Cấp Cà Vạt Xe</option>
                        <option>Cấp Mới Cà Vạt Xe</option>
                        <option>Sang Tên Xe</option>
                        <option>Thu Hồi Xe</option>
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="NgayDangKy" class="control-label">Ngày Đăng Ký</label>
                    <input asp-for="NgayDangKy" class="form-control" />
                    <span asp-validation-for="SoMay" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Đăng kí" class="btn btn-primary" />
                </div>

            </form>


        </div>
    </div>
</div>

