@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
a {
    text-decoration: none;
    display: block;
    color: black;
}

    a:hover {
        color: unset;
    }

.headline {
    padding-bottom: 20px;
    font-size: 25px;
    font-weight: bold;
    color: #00A65A;
}

.user-register {
    padding: 20px;
    border: 1px solid black;
    margin-right: 100px;
}

    .user-register .user-register-content {
        display: grid;
        grid-template-columns: 24.5% 24.5% 24.5% 24.5%;
        grid-row-gap: 15px;
        justify-content: space-between;
    }

        .user-register .user-register-content .register-item {
            background-color: #3C8DBC;
            border: none;
            cursor: pointer;
            color: white;
            border-radius: 5px;
            text-decoration: none;
        }

.register-item :hover {
    filter: brightness(90%);
}

.user-register .user-register-content .register-item p {
    padding: 15px;
    text-align: center;
    margin: 0px;
    font-size: 20px;
    font-weight: bold;
}