@model CSHTGT.ViewModels.PhuongTienCreateViewModel

@{ ViewData["Title"] = "AddPhuongTien";
                Layout = "~/Views/Shared/_Layout.cshtml"; }

<div class="container-fluid">
    <h1 class="mt-4">Đăng kí phương tiện(đã có chủ phương tiện)</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/Home">Trang chủ</a></li>

        <li class="breadcrumb-item ">Đăng kí phương tiện(đã có chủ phương tiện)</li>
    </ol>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="AddPhuongTien">
                <div class="form-group">
                    <a class="btn btn-primary" asp-action="Index" asp-controller="PhuongTien">Trở về danh sách đăng kí</a>
                </div>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="CMND" class="control-label">Nhập CMND chủ sở hữu phương tiện</label>
                    <input asp-for="CMND" class="form-control" />
                    <span asp-validation-for="CMND" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="TenPT" class="control-label">Tên phương tiện</label>
                    <input asp-for="TenPT" class="form-control" />
                    <span asp-validation-for="TenPT" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="BienSo" class="control-label">Biển số(không được trùng)</label>
                    <input asp-for="BienSo" class="form-control" />
                    <span asp-validation-for="BienSo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NhanHieu" class="control-label">Nhãn hiệu</label>
                    <input asp-for="NhanHieu" class="form-control" />
                    <span asp-validation-for="NhanHieu" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SoChoNgoi" class="control-label">Số chỗ ngồi</label>
                    <input asp-for="SoChoNgoi" class="form-control" />
                    <span asp-validation-for="SoChoNgoi" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SoKhung" class="control-label">Số khung</label>
                    <input asp-for="SoKhung" class="form-control" />
                    <span asp-validation-for="SoKhung" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SoMay" class="control-label">Số máy</label>
                    <input asp-for="SoMay" class="form-control" />
                    <span asp-validation-for="SoMay" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TaiTrong" class="control-label">Tải trọng</label>
                    <input asp-for="TaiTrong" class="form-control" />
                    <span asp-validation-for="TaiTrong" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TrangThai" class="control-label">Trạng thái</label>
                    <input asp-for="TrangThai" class="form-control" />
                    <span asp-validation-for="TrangThai" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MaLoaiPhuongTien" class="control-label">Loại phương tiện</label>
                    <select name="MaLoaiPhuongTien" asp-items="@ViewBag.MaLoaiPhuongTien" class="form-control">
                        <option>--Chọn danh mục--</option>
                    </select>
                </div>

                <div class="form-group">
                    <input type="submit" value="Đăng kí" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

