@{ ViewData["Title"] = "Trang chủ"; }

<div class="container-fluid">
    <h1 class="mt-4">Trang chủ</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/Home">Trang chủ</a></li>
        @*<li class="breadcrumb-item"><a href="#">Các chức năng dành cho người quản trị</a></li>*@
    </ol>

    <h3>Môn học: Phát triển ứng dụng Hệ thống thông tin Hiện đại</h3>
    <h3>Tên nhóm: NhomA</h3>
    <div class="row">
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table mr-1"></i>
                Thông tin nhóm
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Họ Tên</th>
                                <th>MSSV</th>
                                <th>Email</th>

                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>Nguyễn Minh Trí</td>
                                <td>1712833</td>
                                <td>1712833@student.hcmus.edu.vn</td>
                            </tr>
                            <tr>
                                <td>Hồng Quang Tú</td>
                                <td>1712855</td>
                                <td>1712855@student.hcmus.edu.vn</td>
                            </tr>
                            <tr>
                                <td>Châu Nguyễn Khánh Trình</td>
                                <td>1712839</td>
                                <td>1712839@student.hcmus.edu.vn</td>
                            </tr>
                            <tr>
                                <td>Tô Hoàng Trung</td>
                                <td>1712849</td>
                                <td>1712849@student.hcmus.edu.vn</td>
                            </tr>
                            <tr>
                                <td>Phạm Văn Bảo</td>
                                <td>1712287</td>
                                <td>1712287@student.hcmus.edu.vn</td>
                            </tr>
                            <tr>
                                <td>Lê Hồng Công</td>
                                <td>1712305</td>
                                <td>1712305@student.hcmus.edu.vn</td>
                            </tr>
                            <tr>
                                <td>Nguyễn Nhân</td>
                                <td>1712629</td>
                                <td>1712629@student.hcmus.edu.vn</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div id="layoutError">
            <div id="layoutError_content">
                <main>
                    <div class="container">
                        @*<h3>Danh sách chức năng hệ thống</h3>
                            <div class="row justify-content-center">

                                <div class="col-lg-4">
                                    <div class="text mt-4">
                                        <h1 class="display-2">1</h1>
                                        <p class="lead"><a href="/PhuongTien/Index"></a>Phương tiện</p>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="text mt-4">
                                        <h1 class="display-2">2</h1>
                                        <p class="lead">Người tham gia giao thông</p>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="text mt-4">
                                        <h1 class="display-2">3</h1>
                                        <p class="lead">Thống kế, báo cáo</p>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="text mt-4">
                                        <h1 class="display-2">4</h1>
                                        <p class="lead">Giấy phép lái xe</p>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="text mt-4">
                                        <h1 class="display-2">5</h1>
                                        <p class="lead">Cán bộ, CSGT</p>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="text mt-4">
                                        <h1 class="display-2">6</h1>
                                        <p class="lead">Biên bản xử phạt</p>
                                    </div>
                                </div>
                            </div>*@
                    </div>
                </main>
            </div>


        </div>

    </div>
</div>

