
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<div class="user-register">
    <p class="headline">Hãy lựa chọn dịch vụ bạn muốn thực hiện</p>
    <div class="user-register-content">
        <a href="NguoiDungDangKy/CaVatXeRegister" class="register-item">
            <p>Cấp cà vạt xe</p>
        </a>
        <a href="#" class="register-item">
            <p>Thu hồi cà vạt xe</p>
        </a>
        <a href="#" class="register-item">
            <p>Đổi cà vạt xe</p>
        </a>
        <a href="#" class="register-item">
            <p>Cấp lại cà vạt xe</p>
        </a>
        <a href="#" class="register-item">
            <p>Sang tên xe</p>
        </a>
        <a href="#" class="register-item">
            <p>Đăng ký bằng lái</p>
        </a>
        <a href="#" class="register-item">
            <p>Cấp lại bằng lái</p>
        </a>
        <a href="#" class="register-item">
            <p>Đổi bằng lái</p>
        </a>
    </div>
</div>