@model CSHTGT.Data.Models.NguoiThamGiaGiaoThong

@{
    ViewData["Title"] = "Create";
}

<div class="container-fluid">
    <h1 class=" mt-4">Tạo mới danh sách</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/Home">Trang chủ</a></li>
        <li class="breadcrumb-item ">Người tham gia giao thông</li>
        <li class="breadcrumb-item ">Tạo mới</li>
    </ol>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="HoTen" class="control-label">Họ tên</label>
                    <input asp-for="HoTen" class="form-control" />
                    <span asp-validation-for="HoTen" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DiaChi" class="control-label">Dịa chỉ</label>
                    <input asp-for="DiaChi" class="form-control" />
                    <span asp-validation-for="DiaChi" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CMND" class="control-label">CMND</label>
                    <input asp-for="CMND" class="form-control" />
                    <span asp-validation-for="CMND" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label">Email</label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NgaySinh" class="control-label">Ngày sinh</label>
                    <input asp-for="NgaySinh" class="form-control" />
                    <span asp-validation-for="NgaySinh" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="QueQuan" class="control-label">Quê quán</label>
                    <input asp-for="QueQuan" class="form-control" />
                    <span asp-validation-for="QueQuan" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SDT" class="control-label">Số điện thoại</label>
                    <input asp-for="SDT" class="form-control" />
                    <span asp-validation-for="SDT" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="UserName" class="control-label">UserName</label>
                    <input asp-for="UserName" class="form-control" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PassWord" class="control-label">Password</label>
                    <input asp-for="PassWord" class="form-control" />
                    <span asp-validation-for="PassWord" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Tạo mới" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Trở về danh sách</a>
    </div>
</div>
@*@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}*@
